
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Password</th>
    <th scope="col">Gender</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let data of product">
    <td>{{data.id}}</td>
    <td>{{data.fname}}</td>
    <td>{{data.lname}}</td>
    <td>{{data.email}}</td>
    <td>{{data.password}}</td>
    <td>{{data.gender}}</td>
    <td>{{data.address}}</td>
    <td>{{data.city}}</td>
    <td><button class="btn btn-danger" (click)="onRemove()" > Delete</button>
      <button class="btn btn-primary" (click)="onEdit(data)"> Edit</button></td>
  </tr>
  </tbody>
</table>
